/* Main Styles */
/* body {
    margin: 0;
    font-size: 0.9em;
    background: #f8f9fa;
} */
nav {
    /* background: #79326d; */
    justify-content: space-between;
}
.logo-text {
    color: #ffe100 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    /* color: #ff23d9; */
}
.right {
    float: right;
}
.rounded {
    border-radius: 1em !important;
}
.form-item {
    margin-bottom: 0.8em;
}
label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 0.4em;
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}
button {
    padding: 0.8em 1.7em;
    border: none;
   /*  background-color: #eee;
    color: #79326d; */
    font-size: 0.9em;
}
button:focus {
    outline: none;
    box-shadow: none;
}
/* Colors */
.purple {
    /* color: #79326d;
} */
/* h5 {
    color: #ff23d9;
} */
/* Login & Register Page*/
.max-width-35 {
    max-width: 35%;
}
/* Table */
table {
    border-collapse: separate !important;
    border-spacing: 0 0.5em;
}
tbody {
    margin-top: 1em;
}
.table thead th {
    background-color: #fff;
    border: none !important;
    padding: 1.4em 1.5em !important;
    vertical-align: middle !important;
}
.table td, .table th {
    border: none !important;
    padding: 1.4em 1.5em !important;
}
.table.students thead th {
    background-color: #fff;
    border: none !important;
    padding: 1.4em 1.7em !important;
    vertical-align: middle !important;
}
.table.students td, .table .students th {
    border: none !important;
    padding: 1.4em 1.7em !important;
}
.table.staff thead th {
    background-color: #fff;
    border: none !important;
    padding: 1.4em 2em !important;
    vertical-align: middle !important;
}
.table.staff td, .table .students th {
    border: none !important;
    padding: 1.4em 2em !important;
}
.table tbody tr {
    background-color: #fff;
    margin-bottom: 1em;
}

/* Mobile View */
/* @media screen and (max-width: 990px) {

} */
@media screen and (min-width: 751px) and (max-width: 989px) {
    .max-width-35 {
        max-width: 57%;
    }
}
@media screen and (min-width: 560px) and (max-width: 750px) {
    .max-width-35 {
        max-width: 65%;
    }
}
@media screen and (min-width: 560px) and (max-width: 600px) {
    .max-width-35 {
        max-width: 75%;
    }
}
@media screen and (max-width: 559px) {
    .max-width-35 {
        max-width: 90%;
    }
}